* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 300px;
  background-color: #EEEEEE;
  padding: 10px;
  position: relative;
}

section:nth-child(n+2){
  margin-left: 30px;
}

.content-img{
  width: 100%;
  height: 150px;
}

.img1{
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.img2{
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.img3{
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.content-heading{
  padding-top: 15px;
  padding-bottom: 5px;
}

.content-text{
  font-size: 12px;
}

.step-label{
  display: inline-block;
  background-color: #FF9A4B;
  color: #fff;
  padding: 0 2px;
  font-size: 12px;
  line-height: 2;
  position: absolute;
  top:0px;
  left: 0px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;

}

/*タブレットサイズ*/
@media screen and (max-width: 768px) {

  main{
  width: 100%;
  }

.box{
  width: 90%;
  margin: 0 auto;
  }

  section:nth-child(n+2){
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

}
